In [1]:
# Let's import all the required libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys

### Question 1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
# Let's load the drivers and URL

driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
url=("https://www.naukri.com/")
driver.get(url)
driver.implicitly_wait(10)

In [3]:
# Let's call the Function Definition

#Let's enter the details in the search column
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id("qsb-location-sugg")

#Let's enter the job title and location 
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")

In [4]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [5]:
# Let's create empty list for storing the data

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [6]:
# Let's scrape the job tile

titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in titles:
    job_title.append(i.text)
job_title

['Azure Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Sr Manager I - Data Analyst (MINT)',
 'Data Analyst (SQL, Excel, R/Python, Dashboards, PowerBI) - Contract',
 'Specialist I / II Data Analyst',
 'Data Analyst with Marketing Analytics-Capco',
 'Inviting Business Analyst –Data Science and Insights Bangalore',
 'Junior Data Analyst']

In [7]:
# Let's scrape the job location

location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Ulsoor)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [8]:
# Let's scrape the company name

companies=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies:
    company_name.append(i.text)
company_name

['Capgemini Technology Services India Limited',
 'RedLock, Inc',
 'Super India Tech Mark',
 'tech mahindra ltd',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'WEIWO Communication Pvt. Ltd.',
 'Cerner',
 'Cerner Corporation',
 'ExecBoardinAsia',
 'Flipkart Internet Private Limited',
 'Philips India Limited',
 'Capco Technologies Pvt Ltd',
 'GENPACT India Private Limited',
 'Happy Marketer Private Ltd']

In [11]:
# Let's scrape the exoerience required

experience=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
for i in experience:
    experience_required.append(i.text)
experience_required

['6-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-0 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-2 Yrs',
 '1,25,000 - 2,25,000 PA.',
 'Bangalore/Bengaluru(Devalapur)',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-2 Yrs',
 '4,50,000 - 5,00,000 PA.',
 'Bangalore/Bengaluru',
 '2-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru(Ulsoor)',
 '3-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-9 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '11-15 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-5 Yrs',
 '5,50,000 - 6,50,000 PA.',
 'Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-9 Yrs',
 '7,00,000 - 17,00,000 PA.',
 'Pune, Bangalore/Bengaluru',
 '0-4 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-3 Yrs',
 '3,00,000 - 7,00,000 PA.',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 '6-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-0 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-2 Yrs',
 '1,25,000 - 2,25,000 PA.',
 'Bangalore/Bengaluru(Devalapur)',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-2 Yrs',
 '4,50,000 - 5,00,000 PA.',
 'Bangalore/Bengaluru',
 '2-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru(Ulsoor)',
 '3-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-9 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '11-15 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-5 Yrs',
 '5,50,000 - 6,50,000 PA.',
 'Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-9 Yrs',
 '7,00,000 - 17,00,000 PA.',
 'Pune, Bangalore/Bengaluru',
 '0-4 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-3 Yrs',
 '3,00,000 - 7,00,000 PA.',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [12]:
# Let's create a DataFrame for our data

data_analyst_jobs=pd.DataFrame({})
data_analyst_jobs['Job Title']=job_title[0:10]    
data_analyst_jobs['Job Location']=job_location[0:10]
data_analyst_jobs['Company Name']=company_name[0:10]
data_analyst_jobs['Experience Required']=experience_required[0:10]
data_analyst_jobs

,Job Title,Job Location,Company Name,Experience Required
0,Azure Data Analyst,Bangalore/Bengaluru,Capgemini Technology Services India Limited,6-8 Yrs
1,Data Analyst,Bangalore/Bengaluru,"RedLock, Inc",Not disclosed
2,Data Analyst,Bangalore/Bengaluru(Devalapur),Super India Tech Mark,Bangalore/Bengaluru
3,Data Analyst,Bangalore/Bengaluru,tech mahindra ltd,0-0 Yrs
4,Data Analyst,Bangalore/Bengaluru,CONDUENT BUSINESS SERVICES INDIA LLP,Not disclosed
5,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru
6,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,0-2 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,"1,25,000 - 2,25,000 PA."
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru(Devalapur)
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs

### Question 2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [13]:
# Let's load the drivers and URL

driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
url=("https://www.naukri.com/")
driver.get(url)
driver.implicitly_wait(10)

In [14]:
# Let's call the Function Definition

#Let's navigate to search column
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id("qsb-location-sugg")

#Let's enter the job title and location
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")

In [15]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [16]:
# Let's create empty list for storing the data

job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [17]:
# Let's scrape the job tile

titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in titles:
    job_title.append(i.text)
job_title

['Data Scientist',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Data Scientist - Machine Learning',
 'Data Scientist || Data Analyst || Data science',
 'Data Scientist - IBM Garage',
 'GAMMA Lead Data Scientist',
 'DBCG IND - GAMMA Senior Data Scientist',
 'Data Scientist/Senior Data Scientist',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Global Medical Data Scientist',
 'Associate Data Scientist - CRM & Loyalty',
 'Data Scientist',
 'Senior Data Analyst / ML & AI Engineer / Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Jr. Data Scientist',
 'Senior Data Scientist (Machine Vision solutions)',
 'Data Scientist - BFSI',
 'Senior Data Scientist/Manager Data Scientist',
 'Excellent Opportunity Of Data Scientist For CMMI Level 5 Company']

In [18]:
# Let's scrape the job location

location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Navi Mumbai, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru',
 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sector 1 HSR Layout)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [19]:
# Let's scrape the company name

companies=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies:
    company_name.append(i.text)
company_name

['CronJ IT Technologies Private Limited',
 'Corner Stone Solutions',
 'AugmatrixGo',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Boston Consulting Group',
 'Boston Consulting Group',
 'GANIT BUSINESS SOLUTIONS PRIVATE LIMITED',
 'CES Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'CHANDRA PUMPS',
 'DUN & BRADSTREET INFORMATION SERVICES INDIA PRIVATE LIMITED',
 'Redcan IT Services LLP',
 'Multi Recruit',
 'ONX Software Systems Pvt Ltd',
 'Black Turtle India Pvt Ltd',
 'Novitas Infotech',
 'Skyleaf Consultants']

In [20]:
# Let's scrape the detail job description

from selenium.common.exceptions import  NoSuchElementException
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

for url in urls[0:10]:
    
    try:
        driver.get(url)
        description=driver.find_element_by_xpath("//section[@class='job-desc']").text
        job_description.append(description)
    except NoSuchElementException :
        job_description.append("Not Available")
job_description

['Job description\nResponsibilities and Duties\nCreate innovative solutions using data across sales, health care and related fields for building object detection models, classification models, recommendation engine, sentiment analysis etc.\nFamiliarity with deep learning algorithms and frameworks like TensorFlow, Pytorch, Keras.\nGood to go with NLP and NLTK\nDay-to-day responsibilities include use, customize and create algorithms/models for specific tasks in data science.\nGet exposed to and work on cutting-edge products based on ML and AI to create innovative industry solutions.\nWork on real-life projects involving Computer Vision, NLP and other AI techniques,\nUsing innovative ideas to collect, curate or synthesize data.\nModel the problem into an ML/DL framework.\nDeploy models to real time staging servers.\nFlexibility in working independently and do needful research whenever required.\nRequired Experience, Skills and Qualifications\nKnowledge of Python\nKnowledge in libraries like OpenCV, Scikit Learn, NumPy etc.\nScripting\nUnderstanding of different frameworks like Pytorch, TensorFlow, Keras etc.\nKnowledge on NLP\nGood Knowledge on OOP and programing in python adapting to requirement\nUnderstanding of AWS.\nUnderstanding of any annotation tool.\nAbility to write robust and testable code.\nStrong knowledge in computer science fundamentals, algorithms, mathematics, linear algebra, probability and statistics.\nStrong communication skills.\nAn analytical mind with problem-solving abilities.\nDegree in Computer Science, Mathematics, Computational Linguistics or similar field.\nRoleTrainee\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nTensorflowJavaC++CphythonData StructuresArtificial IntelligenceMachine LearningMATLABsoftware DeveloperNLPAlgorithmsFresherComputer VisionLinear Algebra',
 'Job description\nLocation - Bangalore / Bengaluru\nDuration- 6 Months\nResponsibilities and Duties\nCreate innovative solutions using data across sales, health care and related fields for building object detection models, chatbots, classification models etc.\nFamiliarity with deep learning algorithms and frameworks like Pytorch, Keras, TensorFlow.\nGood to go with NLP and NLTK\nDay-to-day responsibilities include use, customize and create algorithms for specific tasks in data science.\nGet exposed to and work on cutting-edge products based on ML and AI to create innovative industry solutions..\nWork on real-life projects involving Computer Vision, NLP and other AI techniques,\nUsing innovative ideas to collect, curate or synthesize data.\nModel the problem into an ML/DL framework.\nDeploy models to real time staging servers.\nFlexibility in working independently and do needful research whenever required.\nRequired Experience, Skills and Qualifications\nKnowledge of Python\nKnowledge in libraries like OpenCV, Scikit Learn, NumPy etc.\nUnderstanding of different frameworks like Pytorch, TensorFlow, Keras etc.\nKnowledge on NLP\nGood Knowledge on OOP and programing in python adapting to requirement\nUnderstanding of aws\nUnderstanding of any annotation tool\nAbility to write robust and testable code.\nStrong knowledge in computer science fundamentals, algorithms, mathematics, linear algebra, probability and statistics.\nStrong communication skills.\nAn analytical mind with problem-solving abilities.\nDegree in Computer Science, Mathematics, Computational Linguistics or similar field.\nQualification:\n\nLooking for IIT, IIIT IISc, NIT, BIT & Equivalent colleges (Preferred)\nRoleSoftware Developer\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Temporary/Contractual\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :M.Tech in Any Specialization\nKey Skills\nNLPOpencvArtificial Intelligence\nData ScienceRtensorflowAlgorithmsMATLABLinear AlgebraPython\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nRoles and Responsibilities\n\n\n- Selecting features, building and optimizing classifiers using machine learning techniques\n\n- Data mining using state-of-the-art methods\n\n- Enhancing data collection procedures to include information that is relevant for building analytic systems\n\n- Processing, cleansing, and verifying the integrity of data used for analysis\n\n- Doing ad-hoc analysis and presenting results in a clear manner\n\n- Creating automated anomaly detection systems and constant tracking of its performance\n\nSkills Required :\n\n- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.\n\n- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc\n\n- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization\n\n- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks\n\n- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable\n\n- Proficiency in using query languages such as SQL, Hive, Pig\n\n- Good applied statistics skills, such as distributions, statistical testing, regression, etc.\n\n- Good scripting and programming skills\n\n- Data-oriented personality\n\n- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS\nRoleData Analyst\nIndustry TypeIT-Software, Software Services\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :M.Tech in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nHiveRCloud ComputingData ScientistComputer VisionMachine LearningDeep LearningSQLPig',
 'Job description\nJob description\nJob Summary and Key Responsibilities\nManage, architect, and analyze big data to build data driven business insights and high impact data models to generate significant business value. Create models and processes to collect, distill and interpret data with a view to aid better, more informed decision making. Examine and explore data from multiple disparate sources with the goal of discovering insights which in turn can provide competitive advantage for our stakeholders.\nThe role involves but not limited to the following:\nCreate insights from predictive statistical modeling, mathematical knowledge, tools, and techniques to solve complex problems and deliver value\nCollaborate with Accenture teams to address business issues and influence change using strategy, industry, and analytical skills\nDeliver large-scale programs that integrate processes with technology to help clients achieve high performance\nMining and EDA of large datasets to assist in developing analytics solution\nIndividual contributor and/or oversees a small work effort\nWork with minimal supervision on daily tasks and moderate level of instruction on new assignments\nKey Skills\nMust Have\nAnalytical skills\nKnowledge of statistical techniques and machine learning algorithms\nKnowledge of analysis tools like R, Python\nAdvanced Excel, PowerPoint skills\nAdvanced communication (written and oral) and strong interpersonal skills\nAbility to work cross-culturally\nGood to have\nKnowledge on Google Cloud Platform\nHuman Resources experience\nAdditional Accenture HR systems experience\nUnderstanding of Text analysis, VBA, Java, Python, .Net and visualization tools like Qliksense, Qlikview, Tableau will be an added advantage\nInterested Candidates\n\n\nPlease Contact: Geethanjali\n9900044693\nhr1@inspirationmanpower.co.in\n\nRoleData Analyst\nIndustry TypeBPO, Call Centre, ITeS\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nData ScienceJavaREDAStatistical ModelingData AnalysisBig DataTableauMachine LearningPython',
 'Not Available',
 'Job description\n  Practice Area Profile\nBCG GAMMA combines innovative skills in computer science, artificial intelligence, statistics, and machine learning with deep industry expertise. The BCG GAMMA team is comprised of world-class data scientists and business consultants who specialize in the use of advanced analytics to get breakthrough business results. Our teams own the full analytics value-chain end to end: framing new business challenges, building fact-bases, designing innovative algorithms, creating scale through designing tools and apps, and training colleagues and clients in new solutions. Here at BCG GAMMA, you ll have the chance to work with clients in every BCG region and every industry area. We are also a core member of a rapidly growing analytics enterprise at BCG - a constellation of teams focused on driving practical results for BCG clients by applying leading edge analytics approaches, data, and technology.\nWhat Youll Do\nWe are seeking a strong candidate with advanced analytics experience to fill an exciting Lead Data Scientist (LDS) position within BCG Gamma. The LDS is a valuable expert in Data Science and Analytics and will design and build analytics methodologies, solutions, and products to deliver value to BCGs clients in collaboration with case teams. Exceptional candidates will also show an analytical curiosity, going beyond the immediate requirements of the project to find deep insights that others have missed. They will ask questions about outliers, seek to understand the fundamental drivers of advantage and look for clues that may change the basis of competition.\nThe LDS will be involved in all aspects of advanced analytics, from helping to create relevant products and service offerings by working with priority global Practice Areas, to leading and executing analytics work and continuing to expand the analytical foundation and competitive value proposition. The LDS will collaborate directly client and wider BCG case teams and will manage the analytics components of client deliverables. The LDS is responsible for clarifying initial objectives, setting up analytics work plan and methodology, organizing the data scientist members of the team, quality assurance, and managing scope and work planning throughout the project.\nThe LDS is expected to provide mentoring, coaching, and career development to (senior) analytics associate and data scientist team members on both a formal and informal basis.\nAs the field of advanced analytics is rapidly evolving, the LDS is responsible for staying current on leading-edge business applications, tools and approaches, proactively working with the Analytics\nLeadership to enhance offerings that deliver competitive advantage to BCG.\n\nKEY COMPETENCIES:\nDeep Technical and Data Science Expertise : The successful candidate will have a wealth of experience with applying advanced analytics to a variety of business situations, such that they can efficiently and effectively advise multiple teams on the best path to uncovering critical insights for clients.\nExperience in core analytics methods (one or more of the following): Statistics (t-tests, ANOVA), variable reduction (FA, PCA), Segmentation/clustering techniques , Geographic cluster recognition and manipulation techniques, Predictive modeling: e.g. logistic regression, linear regression, Network analysis (location-allocation, travelling sales person, vehicle routing problem), Time series analysis: e.g. ARIMA, VAR, etc., Machine learning: e.g. LCA, Random Forest, neural networks, Spatio-temporal analysis, Time series analysis (ARIMA, VAR, etc.), Text mining unstructured data analytics, Simulation: e.g. MC, dynamic, discrete event, Optimization: e.g. linear programming, heuristic\nFamiliarity with a broad base of analytics tools (one or more of the following): Data management: e.g. Excel, SQL, PostGRESql, Hadoop/Hive, Alteryx, Analytics platforms: e.g. SAS, R, RapidMiner, SPSS, Data visualization: e.g. Tableau, GIS toolkits (ESRI, Quantum GIS, MapInfo or similar), ESRI Network Analyst, RouteSmart, RoadNet or similar, GPS data analysis a plus, Programming and/or scripting experience: e.g. Python, C#, VBA, Java, Perl, etc.\nExperience in applied analytics for business problem solving : Eg. Extensive experience building analytical solutions for (one or more of the following), Pricing and promotional effectiveness, Delivery fleet consolidation, Loyalty program effectiveness, Network real estate reorganization, Customer segmentation and targeting, Delivery footprint/territory expansion (or reduction), Customer LTV maximization, Cost modeling of transportation logistics operations, Churn prevention, Strong project management skills, Others a plus\nAnalytical and Conceptual thinking: A successful candidate will be able to conceptualize business problems and drive frameworks. The LDS will produce leading edge business models and must be able to work in a hypothesis-based environment where inductive rather than deductive thinking is the norm.\nEngagement Management and Work with Case Teams: The successful candidate will have demonstrated ability to manage engagements, client relationships, provide thought leadership to teams and able to act as a full member of a BCG project team. They must own analytical modules from work planning to creating impact. He/she must scope, manage and lead work for data science teams, providing expertise on methodology of advanced analytics. Strong presence, strong collaborator and leadership skills and ability to operate effectively in a matrix organization are a must.\nClient Relationship Management: The candidate with have a demonstrated ability to communicate effectively and professionally with clients, delivering impactful solutions and presenting work in a concise and thoughtful manner, while demonstrating technical expertise (fluency in English is required). Strong business focus with experience with 80/20 approaches.\nAnalytics Innovation: Must be an autonomous self starter with a passion for analytics and problem solving. He/she will help build new Analytics service offerings that grow our portfolio of products and will captures proprietary content as well as analytics insights to the knowledge infrastructure. The candidate will support the creation of proposal/selling documents and provide perspective on relevant Analytics value propositions.\n\nPersonnel Development: The successful candidate will have demonstrated ability to guide junior data scientists in their consulting skill sets, motivate them, and build the company s foundation for future growth. This will take place in both formal and ad-hoc settings.\n\n\n7 years of relevant industry work experience in a field linked to business analytics, statistics or geo- statistics, operations research, geography, applied mathematics, computer science, engineering, or related field Looking for individuals with deep technical and data science expertise, acute strategic and analytical skills, ability to lead and persuade, drive and energy, and desire to work in a project based environment on strategic issues. Strong record of professional accomplishment and leadership. Demonstrated ability to lead and manage projects and teams.\nRoleSoftware Developer\nIndustry TypeStrategy, Management Consulting Firms\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nData analysisOperations researchdata scienceData managementBusiness analyticsConsultingManagement consultingBusiness strategySPSSSQL',
 'Job description\n    What Youll Do\n\nWe re looking for a passionate and talented Senior Data Scientist to join our rapidly growing team.\nIn this role, you ll have the chance to roll up your sleeves and apply data science methods and analytics to real-world business situations across a variety of industries.\nAs the field of advanced analytics is rapidly evolving, the SDS is responsible for staying current on leading-edge business applications, tools and approaches, proactively working with the Analytics Leadership to enhance offerings that\ndeliver competitive advantage to BCG.\nSuccessful candidates are intellectually curious builders who are biased toward action, scrappy, and communicative.\nYou will also get the chance to travel: we have clients across the globe Make sure your passport is ready to go!\n \n\n\nWHO YOU ARE. YOU:\nHave deep technical and Data Science expertise: The successful candidate will have a wealth of experience with applying advanced analytics to a variety of business situations, such that they can efficiently and effectively advise multiple teams on the best path to uncovering critical insights for clients.\nAre an autonomous self-starter with a passion for analytics and problem solving. You will help build new Analytics service offerings that grow our portfolio of products and will captures proprietary content, and support the creation of proposal/selling documents.\nAre comfortable managing engagements, client relationships, and acting as a thought Leader. Strong presence, strong collaborator and leadership skills and ability to operate effectively in a matrix organization are a must.\nLove building things and are comfortable working with modern development tools and writing code collaboratively (bonus points if you have a software development or DevOps experience)\nHave significant experience applying advanced analytics to a variety of business situations and a proven ability to synthesize complex data; as well as a deep understanding of modern machine learning techniques and their mathematical underpinnings, and are able to translate this into business implications for our clients\nHave strong project management skills\nMaster s Degree with significant relevant experience providing advanced analytics solutions, or relevant PhD in computer science, applied mathematics, statistics, machine learning, or a related data centric field.\nDemonstrated deep technical and data science expertise, acute strategic and analytical skills, ability to lead and persuade, drive and energy, and desire to work in a project based environment on strategic issues.\nStrong record of professional accomplishment and leadership.\nFluency in at least one scripting language (e.g. Python, R)\nFluency in English and local office language are required\nFast-paced, intellectually intense, service-oriented environment\nPosition is located in either Chennai, Mumbai, Delhi-NCR or Bengaluru\nExpect up to 60-80% of time spent traveling\nRoleSoftware Developer\nIndustry TypeStrategy, Management Consulting Firms\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nComputer scienceadvanced analyticsSDSdata scienceArtificial IntelligenceProject managementMachine learningManagement consultingBusiness strategyPython',

In [21]:
# Let's create a DataFrame for our data

data_scientist_jobs=pd.DataFrame({})
data_scientist_jobs['Job Title']=job_title[0:10]    
data_scientist_jobs['Job Location']=job_location[0:10]
data_scientist_jobs['Company Name']=company_name[0:10]
data_scientist_jobs['Detailed Job Description']=job_description[0:10]
data_scientist_jobs

,Job Title,Job Location,Company Name,Detailed Job Description
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited,Job description\nResponsibilities and Duties\n...
1,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Corner Stone Solutions,Job description\nLocation - Bangalore / Bengal...
2,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo,Job description\nRoles and Responsibilities\n\...
3,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,Job description\nJob description\nJob Summary ...
4,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Not Available
5,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,Job description\n Practice Area Profile\nBCG ...
6,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,Job description\n What Youll Do\n\nWe re lo...
7,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,Job description\n\nAbout Ganit Inc\n\nFounded ...
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Job description\nRoles and Responsibilities\n\...
9,Global Medical Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,Not Available

### Question 3: In this question you have to scrape data using the filters available on the webpage

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [26]:
#Let's call the Function Definition

def jobs_data_Scientist(url):
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    ds_job_title=[]
    ds_company_name=[]
    ds_location=[]
    ds_experience=[]
    ds_salary=[]
    
    #Let's navigate to the search column
    driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys('Data Scientist')
    driver.find_element_by_xpath('//button[@class="btn"]').click()
    time.sleep(10)
    
    # Let's create filter for job location
    driver.find_element_by_xpath('//span[@title="Delhi / NCR"]').click()
    time.sleep(5)
    
    # Let's create filter for salary
    driver.find_element_by_xpath('//span[@title="3-6 Lakhs"]').click()
    time.sleep(5)
    
    # Let's scrape the job tile
    job_titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    for i in job_titles:
        ds_job_title.append(i.text)
    
    # Let's scrape the company name
    company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    for i in company_name:
        ds_company_name.append(i.text)
    
    # Let's scrape the company location    
    location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
    for i in location:
        ds_location.append(i.text)
    
        
    # Let's scrape the experience
    experience=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
    for i in experience:
        ds_experience.append(i.text)
    
    # Let's scrape the salary
    salary=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
    for i in salary:
        ds_salary.append(i.text)
    
    # Let's create a DataFrame for our data
    ds_jobs=pd.DataFrame({})
    ds_jobs['Job Title']=ds_job_title[0:10]
    ds_jobs['Company Name']=ds_company_name[0:10]
    ds_jobs['Job Location']=ds_location[0:10]
    ds_jobs['Experience']=ds_experience[0:10]
    return ds_jobs

In [27]:
# Let's call the Calling Function

jobs_data_Scientist('https://www.naukri.com')

,Job Title,Company Name,Job Location,Experience
0,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-8 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",Not disclosed
2,Females Required- Data Scientist- Noida,Randstad,"Noida, Gurgaon/Gurugram, Delhi / NCR","Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
3,Data Scientist,Amity University,"Ghaziabad, Faridabad, Delhi / NCR",5-10 Yrs
4,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Not disclosed
5,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...","Mumbai, Ghaziabad"
6,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",3-7 Yrs
7,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Not disclosed
8,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...","Noida, Gurgaon/Gurugram, Delhi / NCR"
9,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",6-8 Yrs

### Question 4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [33]:
#Let's call the Function Definition

def glass_door_job(url):
    
    # Let's create empty list for storing the data
    job_title=[]
    company_name=[]
    rating=[]
    days=[]
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    time.sleep(5)
    
    # If we visit the glassdoor page we will observe that, to navigate into the page we have to do the login
    # Let's click on the sign-in butoon for logining
    driver.find_element_by_xpath('//div[@class="locked-home-sign-in"]').click()
    
    #Let's enter the demo login details
    driver.find_element_by_xpath('//input[@id="userEmail"]').send_keys('lognelugni@biyac.com')
    driver.find_element_by_xpath('//input[@id="userPassword"]').send_keys('March@2021')
    time.sleep(5)
    
    #Let's maximize the window size because there are some text font size is will has other element details in short window
    driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]').click()
    driver.maximize_window()
    time.sleep(3)
    
    #Let's fill the requied details in search column and click search
    driver.find_element_by_xpath('//*[@id="sc.keyword"]').send_keys('Data Scientist')
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.CONTROL+'a')
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.DELETE)
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys('Noida (India)')
    time.sleep(5)
    
    #Let's search the desired detail which we hve entered
    driver.find_element_by_xpath('//*[@id="scBar"]/div/button').click()
    time.sleep(5)
    
    jobs=driver.find_elements_by_xpath('//article[@id="MainCol"]/div/ul/li')
    for job in jobs:
        try:
            driver.find_element_by_xpath('//*[@id="JAModal"]/div/div[2]/span').click()
        except:
            pass
        
        job.click()
        time.sleep(3)
    
        # Let's scrape the data
        job_title.append((driver.find_element_by_xpath('//div[@class="css-1vg6q84 e1tk4kwz4"]')).text)
        company_name.append((driver.find_element_by_xpath('//div[@class="css-87uc0g e1tk4kwz1"]')).text.replace('\n',''))
        try:
            rating.append((driver.find_element_by_xpath('//span[@data-test="detailRating"]')).text)
        except:
            rating.append('NA')
        try:
            days.append((driver.find_element_by_xpath('//div[@data-test="job-age"]')).text)
        except:
            pass
        
    job_glass_door=pd.DataFrame({})
    job_glass_door['Job Title']=job_title[0:10]
    job_glass_door['Company Name']=company_name[0:10]
    job_glass_door['Rating of the Company']=rating[0:10]
    job_glass_door['Job Posted Days Ago']=days[0:10]
    return job_glass_door

In [34]:
# Let's call the Calling Function

glass_door_job('https://www.glassdoor.co.in/index.htm')

,Job Title,Company Name,Rating of the Company,Job Posted Days Ago
0,Data Scientist,Biz2Credit Inc3.8,3.8,30d+
1,Data Scientist,JLL4.0,4.0,30d+
2,Data Scientist Intern,Salasar New Age Technologies,NA,30d+
3,Data Scientist,Techlive5.0,5.0,30d+
4,Data Scientist,Salasar New Age Technologies,NA,30d+
5,Data Scientist,Adobe4.4,4.4,30d+
6,Data Scientist,Adobe4.4,4.4,30d+
7,Data Scientist,SearchUrCollege,NA,30d+
8,Data Analytics Internship,Decision Tree Analytics And Services5.0,5.0,30d+
9,Data Engineer,Ohmyhome3.0,3.0,30d+

### Question 5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.

In [61]:
#Let's call the Function Definition

def gd_salary(url):
    
    # Let's create empty list for storing the data
    gd_min_salary=[]
    gd_max_salary=[]
    gd_avg_salary=[]
    gd_company_name=[]
    gd_rating=[]

    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    
    
    #Let's navigate to search bar and then type the Data Scientist job, location Noida and then click search button
    driver.find_element_by_xpath('//*[@id="KeywordSearch"]').send_keys('Data Scientist')
    driver.find_element_by_xpath('//*[@id="LocationSearch"]').send_keys(Keys.CONTROL+'a')
    driver.find_element_by_xpath('//*[@id="LocationSearch"]').send_keys(Keys.DELETE)
    driver.find_element_by_xpath('//*[@id="LocationSearch"]').send_keys('Noida (India)')
    time.sleep(3)
    driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]').click()
    time.sleep(5)
    
     # search the element for required details
    companies=driver.find_elements_by_xpath('//div[@data-test="job-info"]/p[2]')
    avg_salary=driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]/strong')
    min_salary= driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")
    max_salary =driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
    rating='NA'
    
    # Let's scrape the data
    for i in companies:
        gd_company_name.append(i.text)
    for i in avg_salary:
        gd_avg_salary.append(i.text)
    for i in min_salary:
        gd_min_salary.append(i.text)
    for i in max_salary:
        gd_max_salary.append(i.text)
        
    # Let's create a DataFrame for our data
    salaries=pd.DataFrame({})
    salaries['Company Name']=gd_company_name[:10]
    salaries['Avgerage Salary']=gd_avg_salary[:10]
    salaries['Minimum Salary']=gd_min_salary[:10]
    salaries['Maximum Salary']=gd_max_salary[:10]
    salaries['Rating of the Company']=rating[:10]
    return salaries

In [62]:
# Let's call the Calling Function

gd_salary('https://www.glassdoor.co.in/Salaries/index.htm')

,Company Name,Avgerage Salary,Minimum Salary,Maximum Salary,Rating of the Company
0,Tata Consultancy Services,"₹ 5,97,967",₹333K,"₹1,080K",NA
1,Accenture,"₹ 11,12,243",₹560K,"₹2,147K",NA
2,Delhivery,"₹ 12,12,741",₹436K,"₹11,274K",NA
3,IBM,"₹ 7,37,972",₹569K,"₹2,648K",NA
4,Ericsson-Worldwide,"₹ 7,15,984",₹350K,"₹1,565K",NA
5,UnitedHealth Group,"₹ 13,41,900","₹1,037K","₹1,500K",NA
6,Valiance Solutions,"₹ 7,90,812",₹487K,"₹1,421K",NA
7,Innovaccer,"₹ 11,81,047",₹602K,"₹1,644K",NA
8,ZS Associates,"₹ 9,89,924",₹196K,"₹1,755K",NA
9,EXL Service,"₹ 11,73,127",₹558K,"₹1,500K",NA

### Question 6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [41]:
#Let's call the Function Definition

def flipkart_sunglasses(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    driver.implicitly_wait(10)
    
    #Let's navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #Let's search for sunglasses product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sunglasses')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    # Let's create empty list for storing the data
    sunglass_brand_name=[]
    sunglass_description=[]
    sunglass_price=[]
    sunglass_discount=[]
    
    # Let's scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sunglass_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sunglass_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sunglass_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sunglass_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    # Let's create a DataFrame for our data   
    sunglasses_flip=pd.DataFrame({})
    sunglasses_flip['Product Brand']=sunglass_brand_name[:100]
    sunglasses_flip['Product Description']=sunglass_description[:100]
    sunglasses_flip['Price of Product']=sunglass_price[:100]
    sunglasses_flip['Discount on Product']=sunglass_discount[:100]
    return sunglasses_flip

In [42]:
# Let's call the Calling Function

flipkart_sunglasses('https://www.flipkart.com/')

,Product Brand,Product Description,Price of Product,Discount on Product
0,Aislin,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹485,68% off
1,PIRASO,UV Protection Round Sunglasses (Free Size),₹209,82% off
2,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹499,50% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹666,16% off
...,...,...,...,...
95,GANSTA,UV Protection Aviator Sunglasses (57),₹349,82% off
96,Aislin,"UV Protection, Gradient Butterfly, Over-sized ...",₹598,72% off
97,Silver Kartz,UV Protection Aviator Sunglasses (88),₹255,78% off
98,Aislin,"UV Protection, Gradient Wayfarer, Cat-eye Sung...",₹358,78% off
99,Aislin,UV Protection Wayfarer Sunglasses (58),₹475,77% off

### Question 7: Scrape 100 reviews data from flipkart.com for iphone11 phone.
You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review

You have to scrape this data for first 100 reviews.

In [43]:
#Let's call the Function Definition

def iphone_100_review(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    rating=[]
    review_summary=[]
    full_review=[]
    
    # Let's scrape the data
    j=0
    while j<10:
    
        ratings=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in ratings:
            rating.append(i.text)
        
        reviews=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for i in reviews:
            review_summary.append(i.text)
        
        full_reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for i in full_reviews:
            full_review.append(i.text)
        time.sleep(10)    
        
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(10)
        j+=1
        time.sleep(10)
    
    # Let's create a DataFrame for our data
    iphone_review=pd.DataFrame({})
    iphone_review['Rating']=rating
    iphone_review['Review Summary']=review_summary
    iphone_review['Full Reviews']=full_review
    return iphone_review

In [44]:
# Let's call the Calling Function

iphone_100_review('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace')

,Rating,Review Summary,Full Reviews
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
96,5,Wonderful,This is my first ever I phone. Before this I w...
97,5,Must buy!,It’s an amazing product from apple and the cam...
98,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
99,5,Mind-blowing purchase,This will help you more. See if you are planni...

### Question 8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
Also note that all the steps required during scraping should be done through code only and not manually.

In [45]:
#Let's call the Function Definition

def flip_sneakers(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    
    #Let's navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #Let's search for sneaker product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sneakers')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    # Let's create empty list for storing the data
    sneaker_brand_name=[]
    sneaker_description=[]
    sneaker_price=[]
    sneaker_discount=[]
    
    # Let's scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sneaker_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sneaker_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sneaker_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sneaker_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    # Let's create a DataFrame for our data   
    sneakers_flipkart=pd.DataFrame({})
    sneakers_flipkart['Brand Name']=sneaker_brand_name[:100]
    sneakers_flipkart['Product Descriptions']=sneaker_description[:100]
    sneakers_flipkart['Price']=sneaker_price[:100]
    sneakers_flipkart['Discount %']=sneaker_discount[:100]
    return sneakers_flipkart

In [46]:
# Let's call the Calling Function

flip_sneakers('https://www.flipkart.com/')

,Brand Name,Product Descriptions,Price,Discount %
0,JEETLAV,Sneakers For Men,₹349,65% off
1,BRUTON,Combo Pack Of 4 Casual Sneakers For Men,₹424,89% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
4,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
...,...,...,...,...
95,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹759,60% off
96,Ktiz,Sneakers For Men,₹399,60% off
97,ROCKFIELD,Sneakers For Men,₹396,36% off
98,Jack Diamond,Sneakers For Men,₹635,62% off
99,Bucik,Black Casual Shoes Synthetic Leather for Men S...,₹749,57% off

### Question 9: Go to the link -
https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [47]:
#Let's call the Function Definition

def shoes_myntra(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    brand_name=[]
    description=[]
    product_price=[]
    
    #Let's apply filter for price
    driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()
    time.sleep(3)
    
    #Let's apply filter for colour
    driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()
    time.sleep(3)
    
    # Let's scrape the data
    j=0
    while j<2:
        time.sleep(5)
        
        brands=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
        for q in brands:
            brand_name.append(q.text)
        
        descs=driver.find_elements_by_xpath('//h4[@class="product-product"]')
        for q in descs:
            description.append(q.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="product-price"]')
        for q in prices:
            product_price.append(q.text)
        
        driver.find_element_by_xpath('//a[@rel="next"]').click()    
        time.sleep(5)
        j+=1
    
    # Let's create a DataFrame for our data
    myntra_shoes=pd.DataFrame({})
    myntra_shoes['Brand of the Shoes']=brand_name[0:100]
    myntra_shoes['Short Shoes Description']=description[0:100]
    myntra_shoes['Price of the Shoes']=product_price[0:100]
    return myntra_shoes

In [48]:
# Let's call the Calling Function

shoes=shoes_myntra('https://www.myntra.com/shoes')
shoes

,Brand of the Shoes,Short Shoes Description,Price of the Shoes
0,ADIDAS Originals,Men Superstar Sneakers,Rs. 8799Rs. 10999(20% OFF)
1,Nike,Men JORDAN DELTA Basketball,Rs. 12495
2,UNDER ARMOUR,Men Charged Impulse Knit,Rs. 8999
3,Puma,Men Running Shoes,Rs. 7499
4,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
...,...,...,...
95,PUMA Motorsport,Unisex Woven-Design Sneakers,Rs. 7999
96,Saint G,Women Leather Heeled Boots,Rs. 9900
97,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
98,Heel & Buckle London,Men Leather Monk Shoes,Rs. 9793Rs. 13990(30% OFF)
99,Heel & Buckle London,Women Leather Pumps,Rs. 7192Rs. 8990(20% OFF)

### Question 10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [51]:
#Let's call the Function Definition

def laptop(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r"C:\Webdrivers\chromedriver.exe")
    driver.get(url)
    
    
    # Let's create empty list for storing the data
    item_title=[]
    price=[]
    rating=[]
    
    #Let's search for laptop product and then click search button
    driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
    driver.find_element_by_xpath('//input[@type="submit"]').click()
        
    #Let's apply filter for "Intel Core i7"
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a',).click()
    time.sleep(5)
    
    #Let's apply filter for "Intel Core i9"  
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a').click()
        
    # Let's scrape the data
    titles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
    for i in titles:
        item_title.append(i.text)
    prices=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
    for i in prices:
        price.append(i.text)
    ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')   
    for i in ratings:
        rating.append(i.get_attribute('aria-label'))
        
    # Let's create a DataFrame for our data
    amazon_laptops=pd.DataFrame({})
    amazon_laptops['Title']=item_title[:10]
    amazon_laptops['Price']=price[:10]
    amazon_laptops['Rating']=rating[:10]
    return amazon_laptops

In [52]:
# Let's call the Calling Function

laptop('https://www.amazon.in/')

,Title,Price,Rating
0,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"86,990",4.6 out of 5 stars
1,MSI GL65 Leopard 10SDK-069IN Intel Core i7-107...,"1,20,240",3.0 out of 5 stars
2,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,"1,98,590",3.0 out of 5 stars
3,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,"2,77,390",3.3 out of 5 stars
4,(Renewed) HP EliteBook 820 G4 Laptop (CORE I5 ...,"40,790",4.6 out of 5 stars
5,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,"76,500",4.1 out of 5 stars
6,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"83,077",4.3 out of 5 stars
7,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...","49,999",1.0 out of 5 stars
8,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"47,190",4.3 out of 5 stars
9,(Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...,"1,35,490",3.0 out of 5 stars